@model Vidly.ViewModels.CustomersViewModel 

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Customers</h1>
@Html.ActionLink("New Customer", "New", "Customers", new { @class = "btn btn-primary glyphicon glyphicon-plus-sign" })

@if (Model.Customers.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Customer</th>
                <th scope="col">Discount Rate</th>
                <th scope="col">Membership Type</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Customers.Count; i++)
            {
                <tr>
                    <td>
                        @Html.ActionLink(@Model.Customers[i].Name, "Edit", "Customers", new { id = @Model.Customers[i].Id }, null)
                    </td>
                    <td>
                        @Model.Customers[i].MembershipType.DiscountRate %
                    </td>
                    <td>
                        @Model.Customers[i].MembershipType.Name
                    </td>
                </tr>
            }
        </tbody>
    </table>
}else {
    <p>We don't have any customers yet.</p>   
}